html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container{
  width:80vw;
  max-width:960px;
  margin:100px auto ;
}

footer{
  text-align:center;
}

header{
  text-align: center;
}