html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.container{
  width:94vw;
  max-width:1500px;
  margin:50px auto ;
 
}

footer{
  text-align:center;
  border-top: 1px solid#000000;
}

header.primary{

  text-align: center;
  background-color: #8C3D2B;
  padding: 20px 40px;
  border-radius:3px;
}

header.primary nav ul a{
  color:#ffffff;
  padding:5px 7.5px;
  border-radius:20px;
  text-decoration:none;
  background-color:#000000;
  background-color:rgba(0,0,0,.4);
  font-size:.9rem;
  transition:.4s;
}

header.primary nav ul li{
  list-style-type: none;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  margin:20px 0 10px 0;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:20px;
  color: #000000;
  padding: 20px 0;
  margin: 30px auto 20px auto;
}

img{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 50px;
}

#content .post{
  background-color: #D97D5B;
  padding: 20px;
  border:15px solid #593131;
}

#intro{
  background-color: #593131;
  padding: 30px;
  border-radius: 5px;
}
#intro {
  color: #F2C6A0;
}

body{
  background-color: #F2C6A0;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 441;
  font-style: normal;
}



  